.order {
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  margin: 10px auto;
  max-width: 250px;
  padding: 10px;
  width: 80%;
}

.order:hover {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.12) 0px 1px 18px 0px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px;
}

.order-name {
  font-size: 1.5rem;
}

.order-total {
  color: green;
  font-size: 1.4rem;
  font-weight: 700;
}

.order-info {
  display: block;
}

.order-footer {
  display: flex;
  justify-content: space-between;
}

.order-pending {
  color: #CBDA23
}

.order-delivered {
  color: #1CD118
}