.footer-container {
  align-content: center;
  background-color: #262626;
  color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

@media screen and ( min-width: 500px ) {
  .footer-container {
    bottom: 0;
  }
}

div > p {
  cursor: pointer;
}
