.title {
  color: white;
  position: relative;
  top: 15px;
}

.menu-container {
  margin-bottom: 150px;
}

.menu {
  max-height: 100px;
  text-align: left;
  z-index: 2;
}

.menu-itens span {
  color: white;
  align-self: center;
}

.menu-bar {
  cursor: pointer;
  height: 40px;
  margin: 30px 0 20px 20px;
  width: 45px;
}

.bar {
  background-color: white;
  border-radius: 5px;
  display: block;
  height: 5px;
  transition: 0.3s ease;
  width: 100%;
}

.bar1 {
  transform: translateY(-4px);
}

.bar3 {
  transform: translateY(4px);
}

.side-menu-container {
  display: none;
  transition: 0.3s ease;
}

.side-menu-container ul {
  padding: 0 22px;
}

.side-menu-container li {
  list-style: none;
  padding: 12px 0;
}

.side-menu-container li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.side-menu-container li a:hover {
  font-weight: bold;
}

.menu-bg,
.menu {
  left: 0;
  position: absolute;
  top: 0;
}

.menu-bg {
  background: #1f2B20;
  height: 100px;
  transition: 0.3s ease;
  width: 100%;
  z-index: 1;
}

.menu-btn {
  background-color: transparent;
  border: none;
  outline-style: none;
  text-decoration: none;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change .bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  height: 100%;
  width: 100%;
}

@media screen and ( min-width: 600px ) {

  .change-bg {
    width: 30%;
  }

}
