.main-header {
  align-items: center;
  background-color: #344638;
  color: #EAE8CD;
  display: flex;
  height: 70px;
  justify-content: flex-start;
}

.header-img {
  margin: 0 10px;
}

.header-title {
  margin: 0;
}
