.cart-products {
  display: flex;
  align-items: center;
  margin-top: 15px;
  justify-content: space-between;
  margin-bottom: 15px;
}

.delivery-img{
  width: 350px;
}

.container {
  align-items: center;
  display: flex;
}

.cart-img {
  width: 50px;
}

.cart-qtd {
  display: flex;
  margin-left: 0;
  font-size: 12pt;
  align-items: flex-start;
}

.cart-name {
  display: flex;

  margin-left: 0;
  font-size: 14pt;
  font-weight: 600;
}

.cart-total {
  font-size: 14pt;
  font-weight: 600;
}

.cart-price {
  font-size: 8pt;
}

.btn-x > button {
  background-color: #344638;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 35px;
  height: 25px;
  margin-left: 15px;
  margin-right: 10px;
}

.btn-x > button:hover{
  background-color: rgb(255, 0, 0);
}

.order-total-value {
  display: flex;
  margin-top: 25px;
  margin-left: auto;
  font-weight: 600;
  font-size: 16pt;
  width: 175px;
}

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.form > label {
  font-size: 18pt;
  margin-left: 15px;
  margin-right: 15px;
}

.form > label > input {
  background-color: #0E260A;
  border-radius: 5px;
  border: 1px solid white;
  color: #f2f2f2;
  height: 25px;
  margin-left: 15px;
  margin-right: 15px;
  opacity: 0.8;
  padding: 10px;
  transition: opacity 0.5s;
  max-width: 450px;
  width: 80%;
}

.form > label > input:hover {
  opacity: 1;
}

.btn-finish {
  background-color: #0E260A;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 22px;
  margin-top: 15px;
  opacity: 0.5;
  transition: opacity 0.2s;
  width: 200px;
}

.btn-finish:hover {
  cursor: pointer;
  opacity: 1;
}