.register-container {
  border-radius: 5px;
  margin: 100px auto;
  max-width: 500px;
  padding: 70px 0;
  text-align: center;
  width: 60%;
}

.input-register {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #f2f2f2;
  margin: 8px 0;
}


.shadow {
  box-shadow: 0px 0px 5px 3px rgba(41,41,41,.25);
}

.default-color {
  background-color: #0E260A;
  color: #f2f2f2;
  font-weight: 700;
}

.confirm-btn {
  background-color: #f2f2f2;
  border: none;
  border-radius: 3px;
  color: #0E260A;
  cursor: pointer;
  font-weight: 700;
  margin: 5px;
  padding: 8px;
}

.confirm-btn:disabled {
  color: white;
}
